<% if @keywords.size > 0 %>
  <% @keywords.each do |keyword| %>
    <tr>
      <td class="text-center"><%= keyword.id %></td>
      <td><%= keyword.name %></td>
      <td><%= keyword.try(:master_category).try(:name) %></td>
      <td class="text-center">
        <button class='btn btn-primary btn-blue btn-action' onclick="insert_primary_keyword('<%= keyword.id %>', '<%= keyword.try(:name) %>', '<%= keyword.try(:master_category).try(:name) %>')">
          選択
        </button>
      </td>
    </tr>
  <%end%>
<%else%>
  <tr>
      <td colspan="6" class="text-center">キーワードが見つかりません</td>
  </tr>
<%end%>
<script type="text/javascript">
  function insert_primary_keyword(keyword_id, keyword_name, master_category){
    $('#message_keyword_id').val(keyword_id)
    $('#primary_modal').modal('hide')
    $('#p_keyword_box').val('主キーワード※： ' + keyword_name)
    $('#master_category').val(master_category)
  }
</script>
